<!-- 
  This launch file runs two versions of the controller.  The first is the controller based on relative states.  Then 
  second is on based on truth.  The idea is the compare the control commands to see if they are different between 
  the two (and how much different).  The hope is that it will give us an idea on how to tune gains. 
-->

<launch>
  

  <!-- This launch file starts the truth, RGB-D processing, and the path planner -->
  <include file="$(find hex_launch)/launch/planning/planning_demo_truth_hex.launch" >
    <!-- I could modify the arguments in that file here if I needed to -->
  </include>
  
  <!-- Now start the VO (some parameters are available to be set as arguments if desired)--> 
  <include file="$(find kinect_vo)/launch/vo_basic_launch.launch" />
  
  <!-- Start the IMU and Altimeters -->
  <!-- Microstrain IMU -->
  <include file="$(find microstrain_3dmgx2_imu)/microstrain_3dmgx2.launch" >
    <arg name="autocalibrate" value="true" />
  </include>
  
  <!-- hex IMU (and allows control commands to be relayed to the hex)-->
  <node pkg= "mikro_serial" type="MikoControl" name="mikro_comm" >
    <!-- Value is multiplied by 10 in receiver and then used as milliseconds. -->
	  <param name="/debug_data_rate" value="100" /> 
  </node> 
  
  <!-- Altimeter node: note there are arguments we could set here and map down. -->
  <include file="$(find altimeter_node)/launch/alt_node.launch" /> 
  
  <!-- Start the Relative Control -->
  <include file="$(find diff_flat_control)/launch/control_basic.launch" >
    <!-- Choose to base control off of truth or estimates -->
    <arg name="truth_control" value="false" />  
    <arg name="int_control" default="false" />  <!-- integral control component -->
    <!-- Choose whether or not to record control data in a ros bag (will be located in ~/.ros/) -->
    <arg name="record_data" value="false" />
    <arg name="sec_to_hover" value="1000.0" /> <!-- secs to hover before following a waypoint path -->
  </include>

  <!-- Put the truth-based control on a different namespace -->
  <group ns="true_control">
    <include file="$(find diff_flat_control)/launch/control_basic.launch" >
    <!-- Choose to base control off of truth or estimates -->
    <arg name="truth_control" value="true" />  
    <arg name="int_control" default="false" />  <!-- integral control component -->
    <!-- Choose whether or not to record control data in a ros bag (will be located in ~/.ros/) -->
    <arg name="record_data" value="false" />
    <arg name="sec_to_hover" value="1000.0" /> <!-- secs to hover before following a waypoint path -->
    <arg name="command_topic" value="/truth_commands" />
  </include>

  </group>
  
  <!-- Start the Estimator (Lots of params available to change if needed) -->
  <include file="$(find rel_MEKF)/launch/rel_MEKF_basic.launch" />
  
  
  <!-- Start the script that records data to the rosbag -->
  <node name="estimator_record" pkg="hex_launch" type="dual_control_record.sh" />

</launch>
   
