<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="CloudThrottleNodelet" args="load downsample_pointcloud/CloudThrottleNodelet standalone_nodelet" output="screen">
    <param name="input_cloud_name" value="cloud_throttled" />
    <param name="output_cloud_name" value="/downsampled_cloud" />
    <param name="x_leaf_size" value="0.10" />
    <param name="y_leaf_size" value="0.10" />
    <param name="z_leaf_size" value="0.10" />
  </node>                 
</launch>
