<!-- This launches the visual odometry and provides access to it's parameters: -->
<launch>

  <arg name="markerset_name"    default="heavy_ros/base" /> 
  <arg name="enable_opt"        default="false" />
  <arg name="display_images"    default="false" />
  <arg name="enable_logs"       default="true" />
  <arg name="rgb_topic"         default="/camera/rgb/image_color" />
  <arg name="depth_topic"       default="/camera/depth_registered/image" />
  <arg name="depth_cal_topic"   default="/camera/depth_registered/camera_info" />
  <arg name="output_topic"      default="vo_transformation" />
  <!-- <arg name=" "           default=" " /> --> 

  <node name="kinect_vo" pkg="kinect_vo" type="kinect_visual_odometry">
    <param name="/mocap_topic_name" value="/evart/$(arg markerset_name)" />
    <param name="/rotation_name" value="/estimated_transform" />
    <param name="/enable_optimization" value="$(arg enable_opt)" />
    <param name="/display_save_images" value="$(arg display_images)" />
    <param name="/enable_logging" value="$(arg enable_logs)" />
    <param name="/rgb_topic" value="$(arg rgb_topic)" />
    <param name="/depth_topic" value="$(arg depth_topic)" />
    <param name="/rgb_calibration_topic" value="/camera/rgb/camera_info" />
    <param name="/depth_calibration_topic" value="$(arg depth_cal_topic)" />
    <param name="/transform_topic" value="$(arg output_topic)" />
    <!-- <param name="/" value="$(arg )" /> -->
  </node>
</launch>
